**Importing pymongo, creating a database and collection, inserting one document

In [ ]:
from pymongo import MongoClient
client=MongoClient("mongodb://localhost:27017")

In [4]:
db=client["Telephone_Directory"]

In [5]:
my_col=db["Telph_col"]

In [6]:
record1 = {'mobile' : 9355280251, 'name': 'Tina Turner', 'gender' : 'female', 'age' : 21}

x = my_col.insert_one(record1)
print(x)

<pymongo.results.InsertOneResult object at 0x000002000C7C90F0>

**Inserting Many document

In [7]:
record2 = [       
           {'mobile' : 9122476671, 'name' :'donald', 'gender' : 'male', 'age' : 50} ,
           {'mobile' : 9739887479,'name': 'Marco', 'gender' : 'male', 'age' : 65} ,
           {'mobile' : 1552959487,'name': 'Taylor Swift', 'gender' : 'female', 'age' : 25} ,  
           {'mobile' : 7901088559,'name': 'Steffan', 'gender' : 'male', 'age' : 30} 
          ]
y = my_col.insert_many(record2)
print(y)

<pymongo.results.InsertManyResult object at 0x000002000C7C8DC0>

**Finding

In [8]:
for x in my_col.find():
    print(x)

{'_id': ObjectId('6396c31f2c669eba44edd788'), 'mobile': 9355280251, 'name': 'Tina Turner', 'gender': 'female', 'age': 21}
{'_id': ObjectId('6396c3f42c669eba44edd789'), 'mobile': 9122476671, 'name': 'donald', 'gender': 'male', 'age': 50}
{'_id': ObjectId('6396c3f42c669eba44edd78a'), 'mobile': 9739887479, 'name': 'Marco', 'gender': 'male', 'age': 65}
{'_id': ObjectId('6396c3f42c669eba44edd78b'), 'mobile': 1552959487, 'name': 'Taylor Swift', 'gender': 'female', 'age': 25}
{'_id': ObjectId('6396c3f42c669eba44edd78c'), 'mobile': 7901088559, 'name': 'Steffan', 'gender': 'male', 'age': 30}

**Update One

In [9]:
myquery = { 'age' : 25}
newvalue = { '$set' : {'age' : 35} }
my_col.update_one(myquery, newvalue)

for x in my_col.find():
    print(x)

{'_id': ObjectId('6396c31f2c669eba44edd788'), 'mobile': 9355280251, 'name': 'Tina Turner', 'gender': 'female', 'age': 21}
{'_id': ObjectId('6396c3f42c669eba44edd789'), 'mobile': 9122476671, 'name': 'donald', 'gender': 'male', 'age': 50}
{'_id': ObjectId('6396c3f42c669eba44edd78a'), 'mobile': 9739887479, 'name': 'Marco', 'gender': 'male', 'age': 65}
{'_id': ObjectId('6396c3f42c669eba44edd78b'), 'mobile': 1552959487, 'name': 'Taylor Swift', 'gender': 'female', 'age': 35}
{'_id': ObjectId('6396c3f42c669eba44edd78c'), 'mobile': 7901088559, 'name': 'Steffan', 'gender': 'male', 'age': 30}

**Update Many

In [11]:

myquery = {'gender' : 'female'}
newvalues = {'$set' : {'city' : 'Hyderabad'}}
my_col.update_many(myquery, newvalues)

for x in my_col.find():
    print(x)

{'_id': ObjectId('6396c31f2c669eba44edd788'), 'mobile': 9355280251, 'name': 'Tina Turner', 'gender': 'female', 'age': 21, 'city': 'Hyderabad'}
{'_id': ObjectId('6396c3f42c669eba44edd789'), 'mobile': 9122476671, 'name': 'donald', 'gender': 'male', 'age': 50}
{'_id': ObjectId('6396c3f42c669eba44edd78a'), 'mobile': 9739887479, 'name': 'Marco', 'gender': 'male', 'age': 65}
{'_id': ObjectId('6396c3f42c669eba44edd78b'), 'mobile': 1552959487, 'name': 'Taylor Swift', 'gender': 'female', 'age': 35, 'city': 'Hyderabad'}
{'_id': ObjectId('6396c3f42c669eba44edd78c'), 'mobile': 7901088559, 'name': 'Steffan', 'gender': 'male', 'age': 30}

In [12]:
myquery = {'gender' : 'male'}
newvalues = {'$set' : {'city' : 'bangalore'}}
my_col.update_many(myquery, newvalues)

for x in my_col.find():
    print(x)

{'_id': ObjectId('6396c31f2c669eba44edd788'), 'mobile': 9355280251, 'name': 'Tina Turner', 'gender': 'female', 'age': 21, 'city': 'Hyderabad'}
{'_id': ObjectId('6396c3f42c669eba44edd789'), 'mobile': 9122476671, 'name': 'donald', 'gender': 'male', 'age': 50, 'city': 'bangalore'}
{'_id': ObjectId('6396c3f42c669eba44edd78a'), 'mobile': 9739887479, 'name': 'Marco', 'gender': 'male', 'age': 65, 'city': 'bangalore'}
{'_id': ObjectId('6396c3f42c669eba44edd78b'), 'mobile': 1552959487, 'name': 'Taylor Swift', 'gender': 'female', 'age': 35, 'city': 'Hyderabad'}
{'_id': ObjectId('6396c3f42c669eba44edd78c'), 'mobile': 7901088559, 'name': 'Steffan', 'gender': 'male', 'age': 30, 'city': 'bangalore'}

**Delete One

In [13]:
myquery = { 'age' : 35 }

my_col.delete_one(myquery)

In [14]:
for x in my_col.find():
    print(x)

{'_id': ObjectId('6396c31f2c669eba44edd788'), 'mobile': 9355280251, 'name': 'Tina Turner', 'gender': 'female', 'age': 21, 'city': 'Hyderabad'}
{'_id': ObjectId('6396c3f42c669eba44edd789'), 'mobile': 9122476671, 'name': 'donald', 'gender': 'male', 'age': 50, 'city': 'bangalore'}
{'_id': ObjectId('6396c3f42c669eba44edd78a'), 'mobile': 9739887479, 'name': 'Marco', 'gender': 'male', 'age': 65, 'city': 'bangalore'}
{'_id': ObjectId('6396c3f42c669eba44edd78c'), 'mobile': 7901088559, 'name': 'Steffan', 'gender': 'male', 'age': 30, 'city': 'bangalore'}

**Delete Many

In [ ]:
myquery = { 'gender' : 'male' }

my_col.delete_many(myquery)

for x in my_cok.find():
    print(x)